.nav-items {
  display: none;
  list-style: none;
  margin: 0;
}

.nav-item {
  border: 3px solid #973619;
  color: #973619;
  background-color: white;
  margin: 0.2rem;
  padding: 0.4rem;
  box-shadow: 3px 3px 0 #973619;
}

@media (min-width: 40rem) {
  .nav-items {
    display: flex;
  }
}
