.welcome {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 25rem;
  padding: 1rem;
}

.welcome__title,
.welcome__caption,
.welcome__text {
  color: #973619;
  text-align: center;
}

.welcome__title {
  margin: 0;
}
.welcome__caption {
  margin: 0.2rem auto 1rem auto;
}
