.work-log-section {
  background-color: #eeeeee;
  padding: 0.2rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
