.header {
  background-color: #ff683a;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.header__title {
  margin: 0;
}

.nav-items {
  display: none;
  list-style: none;
  margin: 0;
}

.nav-item {
  border: 3px solid #973619;
  color: #973619;
  background-color: white;
  margin: 0.2rem;
  padding: 0.4rem;
  box-shadow: 3px 3px 0 #973619;
}

.menu-btn {
  width: 2rem;
}

.menu-btn__bar {
  background-color: white;
  margin: 0.3rem 0;
  height: 0.2rem;
}

@media (min-width: 40rem) {
  .nav-items {
    display: flex;
  }

  .menu-btn {
    display: none;
  }
}
